:root {
  /*Fonts*/

  /*Colors*/
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}


/*RESET STYLES*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
div{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.section {
  padding-bottom: 120px;
  /* 

  */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: var(--white);
  color: var(--slate);
  max-width: 1440px;
  margin: 0 auto;

}


/*
===============================
Base syles 
===============================
 */

.container{
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.hero-section{
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: 188px 0;
  text-align: center;
}

.header-container{
  margin: 0 auto;
    display: flex;
    justify-content: space-between;
   align-items: center;
 
}
.nav-list{
   display: flex;
    align-items: center;
    margin: 0;
}
.nav-list>.list{
  display: flex;
  align-items: center;
    color: var(--navy-blue);
    gap: 40px;
    padding-left: 0;
    padding-right: 0;
} 
.nav-list>.list{

}
.lists> .list{
  display: flex;
  align-items: center;
  color: var(--slate);
  padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    gap: 40px;
   
    
}
.header-logo{
  margin-right: 76px;
}
.nav-list{
 gap: 0px;
}

.links-a {
  list-style: none;
}

.el-a{
  font-weight: 500;
}

.logo-span {
  color: var(--cloud);
}
.link {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: var(--iris);
}

.lists{
  font-style: normal;
}

.btn {
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.section {
}
.header-container{
display: flex;
align-items: center;

}

.main {
}
.nav-list{
}
/*
===============================
Header section
===============================
 */
.header {
  width: 1158px;
  border-bottom: 1px solid var(--cornflower);
}

.header-nav {
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.header-nav-list {
}
.header-nav-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey);
  padding: 24px 0; 
  display: block; 
}
.header-link:hover,
.header-link:focus{
    color: var(--ocean);
}
.lists{
    font-style: normal;
}
.header-addres {
}
.header-address-list {
}
.contact-a {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  font-size: 16px;
}

.header-address-item a:hover,
.header-address-item a:focus {
  color: var(--ocean);
}
/*
===============================
Footer
===============================
 */
.footer {
  background-color: var(--grey);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--cloud);
  width: 264px;
}

/*Studio*/
.main-studio {
}

/*
===============================
Hero section
===============================
 */
.hero-section {
  background-color: var(--grey);
}

.hero-section>.container {
 display: flex;
 align-items: center;
 flex-direction: column;
}
.hero-title {
   max-width: 496px;
  color: var(--white);
  line-height: 1.07;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-btn-order {
  min-width: 169px;
padding: 16px 32px;
border: 0;
border-radius: 4px;
  background: var(--iris);
  color: var(--white);
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-order:hover,
.hero-btn-order:focus{
  background: var(--ocean);
}
/*
===============================
Features section
===============================
 */
.features-section{
  padding-top: 120px;
 
}
.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.features-list{
  display: flex;
  gap: 24px;
}
.features-list-item>.features-subtitle{
margin-bottom: 8px;
}
.features-list>li {
  flex-basis: calc((100% - 72px) / 4);
   padding: 0;
}
.features-list-item {
}
.features-subtitle {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text {
  color: var(--slate);
}
.visually-hidden {
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
===============================
We do section 
===============================
 */
.we-do-section {
}
.we-do-title {
  color: var(--navy-blue);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}

.we-do-list {
  display: flex;
  gap: 24px;
}
.we-do-list-item {
  flex-basis: calc((100%-300px)/3);
}

.we-do-list-item > img{
width: 360px;
height: 300px;
}


/*
===============================
Our team section
===============================
 */
.our-team-section {
  background-color: var(--cloud);
  padding-top: 120px;
}
.our-team-title {
  color: var(--navy-blue);
  line-height: 1.11;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  justify-content: center;
  gap: 24px;

}
.our-team-list-item {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;

}
.our-team-list-item:nth-child(1){
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
 
.our-team-subtitle {
  color: var(--navy-blue);
  font-weight:500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
 
}
.our-team-text {
  color: var(--slate);
 font-size: 16px;
 
}
.our-team-wrapper{
  text-align: center;
   padding-top: 32px;
   padding-bottom: 32px;
 
}

.social-media {
  display: flex;
  align-items: center;
 gap: 24px;
}

.social-media-item{
 width: 40px;
 height: 40px;

 
}
.social-link{
  display: flex;
   background: var(--iris);
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   fill:var(--cloud);
   
}


.social-link:is(:hover, :focus) {
  background: var(--ocean);
  border: none;
}

.customers {
  padding-bottom: 120px;
  padding-top: 120px;
}
.container {
}
.customer-list{
  display: flex;
  gap: 24px;
}
.customer-title {
  line-height: 1.1;
  margin-bottom: 72px;
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.customer-item {
  flex-basis: calc((100% - 120px) / 6);
    height: 88px;
}
.customer-link {
  display: flex;
  border: 1px solid var(--light-slate);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  /* transition: ; */
}
.customer-link:focus,
.customer-link:hover{
  border: 1px solid var(--ocean);
}
.customer-link:is(:focus,
:hover) .customer-icon{
  fill: var(--ocean);
}
.customer-icon {
  fill: var(--light-slate);
}












/*Portfolio*/

.main-portfolio {
}
img{
  display: block;
  width: 100%;
  height: auto;

}
/*
===============================
Filter section
===============================
 */
.filter-h1 {
}
.filter-section {
  padding-top: 96px;
  padding-bottom: 120px;
  padding-left: 0;
  padding-right: 0;
}
.list-btn{
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.list-cards{
display: flex;
gap: 48px 24px ;
justify-content: center;
flex-wrap: wrap;
}
.filter-list {
}
.filter-list-item {
}
.filter-btn {
  border: 1px solid var(--cornflower);
  color: var(--iris);
  background: var(--cloud);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
}
/*
===============================
Project card section
===============================
 */

.project-card-section {
}
.project-card-list {
}

.project-card-wrapper{
border: 1px solid var(--cornflower);
border-top: none;
padding: 32px 16px;
}
.project-card-list-item {
  
  flex-basis: calc((100% - 48px) / 3 );

}
.project-card-subtitle {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;

}
.project-card-subtitles {
 
}
.project-card-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.project-card-textx {
  
}
.project-card-link {
}
.spans{
    color: var(--navy-blue);
}
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
  /* transition: ; */
}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window{
  position: relative;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(1);
  background: var(--dairy);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
    /* transition: ; */
}

.modal-btn{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
background:  var(--cornflower);
border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 0;
  cursor: pointer;
  /* transition: ; */
}

.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cloud);
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
    
}

.container-footer >.social-media {
 gap: 16px;
}
.container-footer{
  margin-right: 120px ;
}
.footer .container{
display: flex;
align-items: baseline;
text-align: start;
}
.social-media-txt{
  margin-bottom: 16px;
  font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.footer-social-link:hover, 
.footer-social-link:focus{
  background-color: var(--green); 
}